* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
  margin-top:-20px;
  background: #4e0101;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.fa-bus {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

/****Profile Icon*************/
.avatar{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.8;
}
.profileContent{
  display: none;
}
.profileSection:hover .profileContent{
  transition: 0.2s;
  display:block;
  position: absolute;
  border-radius: 6px;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left:-50px;
}
.profileMenuContent{
  margin:7px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  height: 32px;
  border-radius: 6px;
  color: grey;
  cursor: pointer;
  font-size: 18px;
}
.profileMenuContent:hover{
  font-size: 20px;
  color: #f77062;
  transition: 0.2s;
  border: 1px solid #f77062;
}
.profileSection:hover .avatar{
  transition: 0.2s;
  cursor: pointer;
  scale:1.1;
  opacity: 1;
}
/*************************/

button:active{
  animation: ripple 0.3s;
}

@keyframes ripple {
  from {
      opacity: 1;
      transform: scale(0.95);
  }

  to {
      opacity: 0.7;
      transform: scale(1);
  }
}

/***************main******************/
.univ{
  width:100vw;
  height:90vh;
  background-image: radial-gradient(#453e3e,#383434,#4d4444);
}
.container{
  box-sizing: border-box;
  align-self: center;
  margin:0px auto;
  border: 4px solid #bfb5b5;;
  height:fit-content;
  min-width: 550px;
  width: fit-content;
  background-image: radial-gradient(#de5858,#e95050,#e44f4f);
  margin-bottom: 5rem;
  padding:40px;
}
.form{
  background-color: rgb(182, 176, 176);
  margin: 0 auto;
  width:450px;
  display: flex; justify-content: space-around; align-items: center;
  margin-top: 20px;
  padding:10px 10px;
  font-size: 20px;
  border-radius: 10px;
}
.buyPassBtn{
  font-size: 18px;
  padding:6px 10px 3px;
  cursor: pointer;
  border:1px solid rgba(255, 255, 255, 0.459);
  background-color: rgb(33, 95, 202);
  color: rgba(255, 255, 255, 0.774);
  border-radius: 5px;
}
.buyPassBtn:hover{
  background-color: rgb(17, 53, 172);
  scale: 1.01;
  transition: 0.1s;
}

.homeBtn{
  margin-top: 25px;
  font-size: 20px;
  padding:7px 12px;
  border-radius: 7px;
  background: #c37878;
  color: #fff;
  border: 0.5px solid rgb(61, 61, 61);
  cursor: pointer;
}